node_modules/
ios/
android/
**/__tests__/
src
dist/App.js
dist/App.d.ts
.travis.yml
tsconfig.json
tslint.json
.npmignore
.idea
app.json
yarn.lock
README.md
LICENSE
.flowconfig
.buckconfig
.babelrc
.gitattributes
.gitignore
.watchmanconfig